<div class="container px-5">
    <h3 class="text-center">Add Today Task</h3>
    <form class="mt-5" (ngSubmit)="addNewTodo()">
        <div class="form-group m-3">
            <label>Title</label>
            <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="data.title">
        </div>
        
        <div class="form-group m-3">
            <label>Description</label>
            <input type="text" class="form-control" id="description" name="description" required [(ngModel)]="data.description">
        </div>
        <button class="btn btn-primary m-3">Submit</button>
    </form>
</div>
